
    @Rule(AS.rule << InputFact(socket={{ cpu.socket.id }}))
    def get_cpu_with_socket_{{ cpu.socket.id }}(self, rule):
        field_id = rule['field_id']
        budget = rule['budget']

        return self.__get_cpu(field_id, {{ cpu.socket.id }}, budget)