
    @Rule(AS.rule << InputFact(socket={{ cpu.socket }}))
    def get_cpu_with_socket_{{ cpu.socket }}(self, rule):
        field_id = rule['field_id']
        budget = rule['budget']

        cpus = CPUField.filter_objects(field=field_id, cpu__socket=6, cpu__price__lte=budget).order_by('-cpu__price')
        if len(cpus) == 0:
            cpus = CPUField.filter_objects(field=field_id, cpu__socket=6, cpu__price__gte=budget).order_by('cpu__price')
        return None if len(cpus) == 0 else cpus[0]