
    @Rule(AS.rule << InputFact(field_id={{ field.id }}))
    def pick_pc_for_{{ field.name|replace(' ', '_') }}(self, rule):
        self.init_expert()
        budget = decimal.Decimal(rule['budget'])
        {% if field.having_gpu %}
        pc = self.__get_all_parts(2, budget)
        {% else %}
        pc = self.__get_all_parts(2, budget, motherboard_Q_query=~Q(pci_e_3=0) & ~Q(pci_e_4=0))
        {% endif %}
        return pc.get_pc_parts_as_JSON()
