
    @Rule(AS.rule << InputFact(field_id={{ field.id }}))
    def pick_pc_for_{{ field.name|replace(' ', '_') }}(self, rule):
        field = dashboard_models.Field.get_object(rule['field_id'])
        budget = decimal.Decimal(rule['budget'])
        {% if field.having_gpu %}
        motherboard, cpu, ram, gpu = self.__get_all_parts(field, budget, motherboard_Q_query=~Q(pci_e_3=0) & ~Q(pci_e_4=0))
        {% else %}
        motherboard, cpu, ram, gpu = self.__get_all_parts(field, budget)
        {% endif %}
        return {
            'budget': budget,
            'total_price': get_total_price(motherboard, cpu, ram, gpu),
            'pc': {
                'motherboard': get_None_or_JSON(motherboard),
                'cpu':  get_None_or_JSON(cpu),
                'ram':  get_None_or_JSON(ram),
                'gpu':  get_None_or_JSON(gpu)
            }
        }
